doctype html
html(lang="en")
  <!--[if IE 8]><html lang="ru" class="ie ie8 no-js"><![endif]-->
  <!--[if IE 9]><html lang="ru" class="ie ie9 no-js"><![endif]-->
  <!--[if gt IE 9]><!--><html lang="en" class="no-js"><!--<![endif]-->
  head
    meta(charset="utf-8")
    title Trigger.fm
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="author", content="")
    meta(name="description", content="")
    meta(name="keywords", content="")

    <!--[if lt IE 9]><script> document.location.href = "ie/badbrowser.html"; </script><![endif]-->

    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")

    // Open Graph
    meta(property="og:title", content="")
    meta(property="og:description", content="")
    meta(property="og:image", content="")
    meta(property="og:url", content="")
    meta(property="og:site_name", content="")

    // Favicon & Devices icons
    link(rel="shortcut icon", href="favicon.png")
    link(rel="apple-touch-icon", href="apple-touch-icon.png")
    link(rel="apple-touch-icon", href="apple-touch-icon-76x76.png", sizes="76x76")
    link(rel="apple-touch-icon", href="apple-touch-icon-120x120.png", sizes="120x120")
    link(rel="apple-touch-icon", href="apple-touch-icon-152x152.png", sizes="152x152")

    // CSS
    link(href="css/sass.css", rel="stylesheet", media="screen, projection")
    //link(href="css/print.css", rel="stylesheet", media="print")

    // JAVASCRIPT
    script(src="js/vendor/jquery-1.11.1.min.js")
    script(src="js/vendor/jquery.easing.1.3.js")
    script(src="js/vendor/jquery.scrollbar.min.js")
    script(src="js/vendor/jquery.cookie.js")
    script(src="js/vendor/jqxcore.js")
    script(src="js/vendor/jqxsplitter.js")
    script(src="js/vendor/jquery.tabify.min.js")
    script(src="js/all.js")

  body
    noscript
      | <div class="notification nojs">
      | <p>В вашем браузере отключена поддержка сценариев JavaScript, поэтому вы видите это сообщение. Сайт может работать некорректно, а некоторые его функции будут недоступны. Настоятельно рекомендуем включить сценарии JavaScript. <a href="http://www.google.ru/support/bin/answer.py?answer=23852">Как включить JavaScript в вашем браузере.</a></p>
      | </div>
    #splitter
      // Console
      #console.console
        #consoleTop.console__top
          .stream-control
            .stream-control__power.center-block
              img(src='images/off.png', width='70', height='55', alt='On/Off button')
            .stream-control__links.text-center
              a(href='http://trigger.fm/stream/main', target='_blank') 192kbps
            .stream-control__volume.center-block
              .slider
                .bar
          .logo.center-block
            img(src='images/logo.png', height='25', width='125', alt='Trigger logo', title='Trigger.fm — первое колективное радио')
          .statistics
            | Слушают:
            span#usersListen 14
            br
            | из них активно:
            span#usersActive 8
          .elections
            button Выборы
          .tagline
            i.tagline-icon.fa.fa-bullhorn
            span.tagline-text
              | Trigger — первое радио, которое работает в метро,
              a(href='#') toymihay
              | !
        // Upload
        #upload.upload
          .upload__box.text-center
            span.plus-icon +
          ul#uploadList.upload__files.list-reset
            li.upfile
              .upfile-path
                span Sebastian Plano – Living.mp3
              input.upfile-artist(type='text', tabindex='1', placeholder='Артист', autocomplete='on')
              input.upfile-title(type='text', tabindex='2', placeholder='Название')
              textarea.upfile-descr(tabindex='3', placeholder='Описание (не обязательно)')
              .upfile-tags
                input(type='text', tabindex='4', placeholder='начинай вводить...')
                | Enter – добавить
              .upfile-buttons
                button.f-delete(title='Удалить')
                  i.fa.fa-remove
                button.f-upload.fa.fa-upload(title='Загрузить')
                button.f-send.fa.fa-plus(title='Отправить в плейлист')
              .upfile-progress
                .bar
            li.upfile
              .upfile-path
                span Sebastian Plano – Living.mp3
              input.upfile-artist(type='text', tabindex='1', placeholder='Артист', autocomplete='on')
              input.upfile-title(type='text', tabindex='2', placeholder='Название')
              textarea.upfile-descr(tabindex='3', placeholder='Описание (не обязательно)')
              .upfile-tags
                input(type='text', tabindex='4', placeholder='начинай вводить...')
                | Enter – добавить
              .upfile-buttons
                button.f-delete(title='Удалить')
                  i.fa.fa-remove
                button.f-upload.fa.fa-upload(title='Загрузить')
                button.f-send.fa.fa-plus(title='Отправить в плейлист')
              .upfile-progress
                .bar
            li.upfile
              .upfile-path
                span Sebastian Plano – Living.mp3
              input.upfile-artist(type='text', tabindex='1', placeholder='Артист', autocomplete='on')
              input.upfile-title(type='text', tabindex='2', placeholder='Название')
              textarea.upfile-descr(tabindex='3', placeholder='Описание (не обязательно)')
              .upfile-tags
                input(type='text', tabindex='4', placeholder='начинай вводить...')
                | Enter – добавить
              .upfile-buttons
                button.f-delete(title='Удалить')
                  i.fa.fa-remove
                button.f-upload.fa.fa-upload(title='Загрузить')
                button.f-send.fa.fa-plus(title='Отправить в плейлист')
              .upfile-progress
                .bar
        // Upload (The End)
        .theme-trigger.clearfix
          .button.night(title='Ночь')
            i.fa.fa-moon-o
          .button.day.active(title='День')
            i.fa.fa-sun-o
          .button.splitter(title='День')
            i.fa.fa-arrows-alt
      // Console (The End)
      .splitter-wrap
        #splitter2
          // Playlist
          #playlist.playlist
            .playlist__current
              // Current Track
              #track23456.track.current.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .votebar.clearfix
                    .track-controls
                      .item.but.but--down(title='Опустить рейтинг') Down
                      .item.number
                        span 25
                      .item.but.but--up(title='Поднять рейтинг') Up
                .full-info.clearfix
                  .left
                    .track-social
                      a(href='#', target='_blank', title='Искать Вконтакте')
                        i.fa.fa-vk
                      a(href='#', target='_blank', title='Искать на SoundCloud')
                        i.fa.fa-soundcloud
                      a(href='#', target='_blank', title='Искать на LastFm')
                        i.fa.fa-lastfm
                      a(href='#', title='В чат')
                        i.fa.fa-terminal
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .track-statictics.clearfix
                      ul.voters.voters--negative.left
                        li.item-1
                          a(href='#') bird
                        li.item-2
                          a(href='#') sinestetik
                        li.item-3
                          a(href='#') thorgnir
                        li.item-4
                          a(href='#') juslex
                        li.item-5
                          a(href='#') jahmanlive
                        li.item.item-5
                          a(href='#') Kamutohirowataniknamelomg
                      ul.voters.voters--pozitive.right.text-right
                        li.item-1
                          a(href='#') DoZeR
                        li.item-2
                          a(href='#') Weksha
                        li.item-3
                          a(href='#') Pikvusha
                .timer
                  .bar
              // Current Track (The End)
            .playlist__all
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      a(href='#', target='_blank', title='Искать Вконтакте')
                        i.fa.fa-vk
                      a(href='#', target='_blank', title='Искать на SoundCloud')
                        i.fa.fa-soundcloud
                      a(href='#', target='_blank', title='Искать на LastFm')
                        i.fa.fa-lastfm
                      a(href='#', title='В чат')
                        i.fa.fa-terminal
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
              // Track
              #track23456.track.trackid23456(data-rating='', data-votes='')
                .short-info
                  .track-cover
                    img(src='images/track__nocover.png', height='47', width='47', alt='No cover')
                  .track-name
                    span.artist Mistabishi
                    span.title Don't Fuck Around (feat.Mad Dog & Predator)
                  .track-tags
                    span.tag dnb
                    span.tag breaks
                  .track-time
                    span +00:00:00
                  .track-rating
                    span 18
                .full-info.clearfix
                  .left
                    .track-social
                      span.vk
                        a(href='#') >vk
                      span.muzebra
                        a(href='#') >muzebra
                      span.chat
                        a(href='#') >chat
                    .track-sender
                      | прнс
                      a(href='#') tonymihay
                  .right
                    .votebar
                      .track-controls
                        .item.but.but--down(title='Опустить рейтинг') Down
                        .item.but.but--negative(title='-1 к рейтингу') -
                        .item.number 0
                        .item.but.but--positive(title='+1 к рейтингу') +
                        .item.but.but--up(title='Поднять рейтинг') Up
                      .track-statictics.clearfix
                        ul.voters.voters--negative.left
                          li.item-1
                            a(href='#') bird
                          li.item-2
                            a(href='#') sinestetik
                          li.item-3
                            a(href='#') thorgnir
                          li.item-4
                            a(href='#') juslex
                          li.item-5
                            a(href='#') jahmanlive
                          li.item.item-5
                            a(href='#') Kamutohirowataniknamelomg
                        ul.voters.voters--pozitive.right.text-right
                          li.item-1
                            a(href='#') DoZeR
                          li.item-2
                            a(href='#') Weksha
                          li.item-3
                            a(href='#') Pikvusha
              // Track (The End)
          // Playlist (The End)
          // Content
          #content.content
            ul#tabs.tabs
              li.tab.active
                a(href='#chat') Чат
              li.tab
                a(href='#history') История
              li.tab
                a(href='#affiche') Афиша
              li.tab
                a(href='#democrasy') Демократия
              li.tab
                a(href='#profile') Профиль
            // Chat
            #chat.chat
              .chat__log
                ul.list-reset
                  li.message.username
                    .message-author jahmanlive:
                    .message-text >rebrom Привет)
                    .message-info
                      time.message-time 100 лет назад
                      a.fa.fa-music.message-track(href='', title='Mistabishi - Memory (Original Mix)')
                  li.message.username
                    .message-author jahmanlive:
                    .message-text >rebrom Привет)
                    .message-info
                      time.message-time 100 лет назад
                      a.fa.fa-music.message-track(href='', title='Mistabishi - Memory (Original Mix)')
                  li.message.username
                    .message-author jahmanlive:
                    .message-text >rebrom Привет)
                    .message-info
                      time.message-time 100 лет назад
                      a.fa.fa-music.message-track(href='', title='Mistabishi - Memory (Original Mix)')
                  li.message.username
                    .message-author jahmanlive:
                    .message-text >rebrom Привет)
                    .message-info
                      time.message-time 100 лет назад
                      a.fa.fa-music.message-track(href='', title='Mistabishi - Memory (Original Mix)')
                  li.message.username
                    .message-author jahmanlive:
                    .message-text >rebrom Привет)
                    .message-info
                      time.message-time 100 лет назад
                      a.fa.fa-music.message-track(href='', title='Mistabishi - Memory (Original Mix)')
                  li.message.username
                    .message-author thorgnir:
                    .message-text
                      | С 15 октября 2013 года процедура существенно упрощается. Теперь даже на территории другого региона Вы сможете просто изменить регистрационные данные, т.е. новые номера получать теперь не обязательно.
                      a(href='http://s7.hostingkartinok.com/uploads/images/2014/11/c22b61d6fc5571131d77315097ff81b7.gif', target='_blank', title='Посмотреть в новой вкладке')
                        img(src='http://s7.hostingkartinok.com/uploads/images/2014/11/c22b61d6fc5571131d77315097ff81b7.gif')
                    .message-info
                      time.message-time 100 лет назад
                      a.fa.fa-music.message-track(href='', title='Mistabishi - Memory (Original Mix)')
              .chat__users
                ul.list-reset
                  li.user.item-1
                    span.fa.fa-info-circle
                    a(href='') kamutohirovata
                  li.user.item-2
                    span.fa.fa-info-circle
                    a(href='') user 2
                  li.user.item-3
                    span.fa.fa-info-circle
                    a(href='') user 3
                  li.user.item-4
                    span.fa.fa-info-circle
                    a(href='') user 4
                  li.user.item-5
                    span.fa.fa-info-circle
                    a(href='') user 5
                  li.user.item-6
                    span.fa.fa-info-circle
                    a(href='') user 6
                  li.user.item-7
                    span.fa.fa-info-circle
                    a(href='') user 7
                  li.user.item-8
                    span.fa.fa-info-circle
                    a(href='') user 8
                  li.user.item-9
                    span.fa.fa-info-circle
                    a(href='') user 9
                  li.user.item-10
                    span.fa.fa-info-circle
                    a(href='') user 10
              .chat__input
                textarea#messageInput(placeholder='Начинай вводить...')
                .chat-settings.clearfix
                  .but.bold
                    i.fa.fa-bold
                  span.but.bold
                  span.but.irony.fa.fa-italic
                  span.but.tink.fa.fa-volume-up
                  span.but.images.fa.fa-image
            // Chat (The End)
            // History
            #history.history.tabs-box
              | History
            // History (The End)
            // Affiche
            #affiche.affiche.tabs-box
              | Affiche
            // Affiche (The End)
            // Democrasy
            #democrasy.democrasy.tabs-box
              .voting.clearfix
                header Выборы:
                input(type='text', placeholder='ID кандидата')
                button Голосовать
                .candidate
                  | Ты проголосовал за:
                  a(href='#') thorgnir
              .moderators
                .moderators__prman
                  b Продюсер:
                  a(href='#') shumshum
                .moderators__editors
                  b Редакционная коллегия:
                  ul.list-reset
                    li
                      a(href='') Nofets
                      | —
                      span.edman-descr наблюдает за наблюдателем
                    li
                      a(href='') XAT
                      | —
                      span.edman-descr созерцает
                    li
                      a(href='') jahmanlive
                      | —
                      span.edman-descr пустынная змея
                    li
                      a(href='') Suok
                      | —
                      span.edman-descr курильщица
                    li
                      a(href='') russ
                      | —
                      span.edman-descr Билли Талент
              .ban-list
            // Democrasy (The End)
            // Profile
            #profile.profile.tabs-box.clearfix
              .l-col
                .user-avatar
                  #userAvatarDel.user-avatar__delete(title='Удалить изображение') ×
                  #userAvatarImg.user-avatar__image(style='background-image: url(http://a1.s6img.com/cdn/box_001/post_11/253407_6080015_pm.jpg);')
                  #userAvatarUpl.user-avatar__upload
                    i.fa.fa-upload
                    | Загрузить новое изображение
                .user-parent
                  | С нами с 16.01.2013 по приглашению
                  a(href='#') bird
                .user-children
                  | Понаприглашал:
                  span
                    a(href='#') barbie
                  span
                    a(href='#') Blackone
                  span
                    a(href='#') remizyaka
                  span
                    a(href='#') klen
                  span
                    a(href='#') wiz
                  span
                    a(href='#') kadetttcrazy
                  span
                    a(href='#') ginochek
                  span
                    a(href='#') Arjuna
                  span
                    a(href='#') offmen
                  span
                    a(href='#') enilight
                  span
                    a(href='#') alexR42
                  span
                    a(href='#') b1ot3kk
                  span
                    a(href='#') sett
                  span
                    a(href='#') adseipsum
                  span
                    a(href='#') buriy
                  span
                    a(href='#') Lucent
                  span
                    a(href='#') chup
                  span
                    a(href='#') karp
                  span
                    a(href='#') chillout
                  span
                    a(href='#') Dishlovihlop
                  span
                    a(href='#') Dezzpil
                  span
                    a(href='#') vombat
              .r-col
                .user-name
                  span#userName tonymihay
                .user-id
                  span#userID #1322
                .user-karma
                  span#userKarmaNum 77
                .user-info
                  #userInfoEditor(contenteditable='true') Описание пользователя бла-бла
