/* Playlist
---------------------------------------------------------- */
.playlist {
  width: 50%;
  position: absolute;
  top :0;
  bottom: 0;

  &__current {
    background: $dark_grey;
    color: #faf9f9;
  }
  &__all {
    background: #FFF;
    overflow-y: auto;
  }

  // Track
  .track {
    padding: 6px;
    border-bottom: 1px solid #EEE;
    cursor: pointer;
    &:last-child {
     // border: 0;
    }
    .short-info {
      display: table;
      width: 100%;
    }
    .full-info {
      padding: 10px 0 0 54px;
      display: none;
    }

    /**
     * Short-info Components
     */
    &-cover,
    &-name,
    &-tags,
    &-time,
    &-rating {
      display: table-cell;
      vertical-align: middle;
      padding-right: 6px;
      text-align: center;
    }
    &-cover {
      width: 47px;
      vertical-align: top;
      img { outline: 1px solid $light_gray; }
    }
    &-name {
      text-align: left;
      .artist,
      .title { display: block; }
      .artist { font-weight: 700; }
    }
    &-tags {
      min-width: 70px;
      font-size: 10px;
      text-align: right;
    }
    &-time { min-width: 70px; }
    &-rating {
      width: 40px;
      padding: 0;
      font-size: 23px;
      font-weight: 300;
      text-align: right;
      color: $light_gray;
    }

    /**
     * Full-info Components
     */
    &-social {
      margin-bottom: 18px;
      font-size: 10px;
      a {
        padding: 0 3px;
        font-size: 15px;
        color: #888;
        text-decoration: none;
        &:hover { color: #424242; }
        &:first-child { padding-left: 0; }
      }
    }
    &-sender { font-size: 10px; }
    &-controls {
      display: table;
      .item {
        display: table-cell;
        width: 24px;
        min-width: 24px;
        height: 24px;
        padding: 0 2px;
        text-align: center;
        vertical-align: middle;
      }
      .but {
        text-indent: -9999px;
        cursor: pointer;
        background: url(../images/controls.png) 2px 5px no-repeat;
        &--down     { background-position: 4px 5px; }
        &--negative { background-position: -23px 5px; }
        &--positive { background-position: -79px 5px; }
        &--up       { background-position: -105px 5px; }
        &:active    { background-position-y: 6px; }
      }
      .number {
        vertical-align: middle;
        color: $light_gray;
      }
    }
    &-statictics {
      width: 140px;
      .voters {
        width: 49%;
        overflow: hidden;
        list-style: none;
        font-size: 10px;
        line-height: 12px;
        word-wrap: break-word;
        li { margin-bottom: 4px; }
      }
    }

    /**
     * Current track
     */
    &.current {
      border: 0;
      padding-bottom: 8px;

      // New manner ---------
      position: relative;
      .full-info {
        @include box-sizing(border-box);
        width: 100%;
        margin-top: 6px;
        padding-right: 6px;
        padding-left: 60px;
        padding-bottom: 6px;
        position: absolute;
        //top: 59px;
        left: 0;
        background: rgba(51, 51, 51, 0.9);
      }
      // End new --------------

      .track-social {
        a {
          color: #FFF;
          &:hover { color: $orange; }
        }
      }

      .votebar {
        display: table-cell;
        vertical-align: middle;
      }
      .track-controls {
        float: right;
        height: 32px;
        .item {
          background-position-y: 8px;
          &:active { background-position-y: 9px; }
        }
        .number {
          width: 40px;
          padding: 0;
          font-size: 23px;
          font-weight: 300;
          text-align: center;
          color: $light_gray;
        }
      }
      .timer {
        height: 3px;
        width: 100%;
        background: #777;
        position: absolute;
        bottom: 0;
        left: 0;
        .bar {
          width: 35%; /* temporary */
          height: 100%;
          background: $orange;
        }
      }
    }
  }
}
