html, body {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 11pt;
}

a {
    color: #ffcd00;
}

.container {
    display: table;
    text-align: left;
    vertical-align: baseline;
}

.content {
    display: inline-block;
}

.streamcontrol {
    display: table-cell;
    max-width: 70px;
    cursor: pointer;
}

.streamcontrol img {
    width: 80%;
    padding: 10%;
    margin: 0 auto;
}

#info {
    display: table-cell;
    vertical-align: top;
}

#logo {
    padding-top: 3px;
    padding-bottom: 3px;
}

#logo img {
    width: 85px;
}

#logo a sup{
    font-size: 18px;
}

#volume {
    text-align: center;
    width: 80%;
    padding-top: 3%;
    margin: 0 auto;
}

#volume .slider {
    width: 100%;
    height: 5pt;
    background: #777;
    -webkit-border-radius: 3pt;
    -moz-border-radius: 3pt;
    border-radius: 3pt;
    cursor: pointer;
    overflow: hidden;
}

#volume .slider .bar {
    height: 100%;
    width: 50%;
    background: #fff;
    -webkit-border-radius: 3pt;
    -moz-border-radius: 3pt;
    border-radius: 3pt;
    z-index: 100;
}

.artist {
    font-weight: 800;
}

.title {
    font-weight: 100;
    color: #aaa;
}

.footer {
    background-color: #111;
    height: 200px;

}