html, body {
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 16pt;
}

a {
    color: #ffcd00;
}

.sizer {
    display: table;
    width: 100%;
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.content {
    display: inline-block;
}

.content img {
    max-width: 45%;
}

#volume {
    width: 30%;
    padding-top: 10%;
    margin: 0 auto;
}

#volume .slider {
    width: 100%;
    height: 10pt;
    background: #777;
    -webkit-border-radius: 6pt;
    -moz-border-radius: 6pt;
    border-radius: 6pt;
    cursor: pointer;
    overflow: hidden;
}

#volume .slider .bar {
    height: 100%;
    width: 50%;
    background: #fff;
    -webkit-border-radius: 6pt;
    -moz-border-radius: 6pt;
    border-radius: 6pt;
    z-index: 100;
}

.streamcontrol {
    text-align: center;
    cursor: pointer;
    padding: 10%;
}

.streamcontrol img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.artist {
    font-weight: 800;
}

.title {
    font-weight: 100;
    color: #aaa;
}

.footer {
    background-color: #111;
    height: 200px;

}

.part {
    width: 100%;
    display: inline-block;
}

.white {
    background: #ffffff;
    color: black;
}

.black {
    background: #333333;
    color: white;
}

.narative {
    padding: 10%;
    width: 35%;
}

.white .image {
    float: right;
    height: 100%;
}

.go {
    padding: 5%;
    text-align: center;
    background: #ffcd00;
    color: #333333;
}

.black .narative {
    float: right;
}