#playlist {
    position: fixed;
    top: 0px;
    width: 35%;
    bottom: 0px;
    margin-left: 15%;
    font-size: 12px;
}




.clearfix:after {
    clear: both;
    content: "" !important;
    display: block;
}

#init {
    width: 100%;
    padding-top: 20%;
}

#init .broken {
    width: 172px;
    height: 34px;
    background: url(/img/init.gif);
}

#init .message {
    padding-top: 30px;
    font-size: 10px;
    text-align: center;
}

#init .inner {
    width: 172px;
    margin: 0 auto;
}

#coninside {
    color: #ffffff !important;
}

#console .links .blured {
    color: #aaa !important;
}

#console {
    width: 15%;
    position: fixed;
    background: #333;
    bottom: 0px;
    top: 0px;
    color: #fff;
    overflow-y: auto;
}

#console .links {
    padding: 5px;
    padding-top: 0px;
    font-size: 9px;
}

#console .links span {
    padding-left: 4px;
    padding-right: 4px;
}

#sendall {
    margin: 15px;
    padding: 5px;
    width: 70%;
    overflow: hidden;
}

#console .uploaditem input {
    max-width: 400px;
}

#console .serverinfo {
    font-size: 11px;
    padding: 12px;
}

#console .serverinfo img {
    width: 100%;
}

#console .serverinfo a {
    padding-left: 3px;
}

#messageinput {
    -webkit-appearance: none;
    outline: 0 none;
    padding: 5px;
    padding-bottom: 23px;
    font-size: 12px;
    min-height: 53px;
    height: 53px;
    overflow-y: auto;
    border-top: 3px solid #bbb !important;
    width: 100%;
    border: 0;
    resize: vertical;
}

.content.chat .input {
    background-color: #eee;
    position: absolute;
    width: 100%;
}

.voters {
    width: 100%;
}

.voters .pvotes {
    text-align: right;
}

.voters .nvotes {
    text-align: left;
}

.voters ul {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    display: table-cell;
    width: 50%;
    min-width: 66px;
}

#playlist .inner {
    overflow-x: hidden;
}

.messageinfo {
    text-align: right;
    font-size: 10px;
    min-width: 120px;
}

.messageinfo a {
    font-size: 10px !important;

}

.channel .full header {
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 4px;
}

.banplace {
    margin-top: 5px;
    margin-bottom: 5px;
}

.banplace button {
    border: none;
    color: #333;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background: #ffcd00;
    width: 80px;
    height: 22px;

}

#userdescription {
    margin-bottom: 15px;
}

#userdescription:focus {
    outline: none;
}

.htmleditor {
    padding: 10px;
}

#info .content.profile .pic.exist {
    overflow: hidden;
    text-align: center;
    background-image: none !important;
}

#info .content.profile .pic img {
    height: 200px;
}

input[type="text"],
input[type="password"] {
    outline: 0 none;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    width: 150px;
    font-size: 12px;
    height: 18px;
    padding: 1px 5px;
    margin-bottom: 3px;
}

#piclink {
    width: 250px !important;
}

.channel .description {
    margin-top: 20px;
}

.channel .description:focus {
    outline: none;
}

.channel .htmleditor:focus {
    outline: none;
}

.channel .usershead {
    font-weight: 100;
    font-size: 13px;
}

#markups {
    font-size: 11px;
}

.content.chat .log a {
    font-size: 12px;
}

.content.chat .users a {
    font-size: 12px;
    color: #aaa !important;
    text-decoration: none;
}

.content.chat .users a:hover {
    text-decoration: underline;
}

.content.chat .users .active a {
    color: #eba400 !important;
}

.content.chat .users .userblock {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content.chat .users .info {
    font-size: 9px;
    color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #eba400;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 4px;
    margin-top: 4px;
    vertical-align: top;
    cursor: pointer
}

.content.chat .info {
    font-size: 8px;
    font-weight: 100 !important;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #cdcdcd;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 2px;
}

.content.chat .users .scroller {
    overflow-y: auto;
    padding-left: 6px;
}

.content a {
    color: #eba400;
    font-weight: 100;
}

.content.chat .topline {
    padding-left: 15px;
}


.content.chat .users {
    margin-left: 85%;
    font-size: 14px;
    border-left: 1px solid #f6f6f6;
}

#usersresizer {
    width: 8px;
    position: absolute;
    height: 76%;
    cursor: ew-resize;
}

.mif {
    text-align: right;
    vertical-align: top;
}

.sms {
    width: 100%;
}

.names {
    vertical-align: top;
}

.names:hover {
    text-decoration: underline;
}

.channel .full button, #info button {
    border: none;
    color: #FFF;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background: #ffcd00;
    width: 80px;
    height: 22px;

}

#ender button {
    border: none;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    background: #c8a000;
}

.channel .full .editors button,
.channel .full .banned button {
    width: 35px;
}

.banned-list {
    color: #9c9c9c;
}

.banned-list .ban-details, .banned-list .ban-details a {
    font-size: 10px;
}

.banned-list .delete {
    position: inherit !important;
}

input.id {
    width: 51px;
}

.channel .full button:active,
.channel .full input[type="button"]:active,
.channel .full input[type="submit"]:active {
    position: relative;
    top: 1px;
}

.inviteblock {

    padding: 10px;
}

#con {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    background: #333;
}

#coninside {
    width: 50%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#ender {
    text-align: center;
}

#con small {
    font-weight: 100;
    color: #cdcdcd;
}

#con p {
    font-weight: 100;
    color: #cdcdcd;
}

.item .rating .real {
    font-size: 12px;
}

.tab.channels a.new {
    color: #ffcd00 !important;
}

#playlist .resizer, #info .resizer {
    width: 5px;
    cursor: ew-resize;
    height: 100%;
    position: absolute;
    z-index: 200;
    top: 0px;

}

.content.history .inner, .content.controlpanel .controlpage {
    overflow-y: scroll;
    overflow-x: hidden;
}

.controlpanel .p_tabs {
    position: absolute;
    bottom: 0px;
}

.controlpanel .p_tabs .tab {
    border-bottom: 0px;
    border-top: 3px solid #777;
}

.post .cin {
    padding: 20px;
    font-size: 13px;
    padding-bottom: 10px;
}

.inf {
    float: right;
    font-size: 10px;
}

.message .post p {
    font-size: 13px !important;
}

.content.chat .message .inf a {
    font-size: 10px;
}

.comment {
    margin-left: 30px;
}

.comment .info {
    padding-bottom: 10px;
}

.post .info {
    padding-top: 10px;
    font-size: 10px;
    color: #777;
}

.post img {
    max-width: 100%;
}

#blogtop {
    width: 100%;
    padding: 20px;
}

#info .content .controlpage .button {
    border: none;
    color: #FFF;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    width: auto;
    padding: 8px;
    background: #ffcd00;
    display: inline;
}

#blogtop .button {
    margin-top: 20px;
}

.redactor_box {
    margin-bottom: 20px;
    margin-right: 40px;
    width: auto;
    border: none !important;
    min-height: 100px;
    position: relative;
    overflow: visible;
}

.comments form {
    margin-left: 30px;
    margin-right: 0px;
}

#buttoncontainer {
    padding: 20px;
}

#voteadjust {
    padding: 5px 15px 0px 15px;
    font-size: 11px;
}

#voteadjust input {
    outline: 0 none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px;
    width: 32px;
    font-size: 14px;
}

.content.chat .log {
    -webkit-transform: translateZ(0);
}

#hpanel {
    font-size: 13px;
    padding: 12px;
}

#hpanel label {
    padding-right: 5px;
    padding-top: 10px;
}

#console .uploaditem span {
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

#console .uploaditem input, #console .uploaditem textarea, #hpanel .finput {
    outline: 0 none;
    -webkit-appearance: none;
    border: 0;
    padding: 5px;

}

#console .uploaditem input {
    width: 100%;
}

#console .uploaditem textarea {
    max-width: 100%;
    min-width: 100%;
}

.tag .deltag {
    width: 9px;
    height: 9px;
    background-image: url(/img/del.png);
    display: inline-block;
    margin: 3px 0 0 3px;
    cursor: pointer;
}

.tags {
    padding-bottom: 4px;
    min-height: 1px;
    max-width: 220px;
}

.profile .item .channel, .history .item .counter {
    font-size: 23px;
    color: #bbb;
    font-weight: 100;

}

.profile .item .channel {

    width: 60px;
}

.history .item .counter {
    width: 20px;
}

.karma .but {
    width: 24px;
    height: 24px;
    margin: 16px;
    float: left;
    cursor: pointer;
}

td.sms img .hide {
    display: none;
}

#console .info .chdata span {
    font-size: 10px;
}

.end {
    padding: 15px;
    text-align: center;
}

#info .content.profile .list .option {
    padding: 15px;
}

#optionexit {
    padding-top: 15px;
}

#info .content.profile .list .option input {
    margin-right: 10px;
}

#info .content.profile .list .option .toper {
    margin-bottom: 10px;
}

#info .content.profile .list .sendform {
    display: block;
    width: 100%;
    padding-left: 15px;
    float: left;
}

.profile .pic {
    width: 200px;
    height: 200px;
    background-image: url(/img/ear.png);;
    margin: 16px;
    float: left;
}

.profile .userinfo {
    font-size: 13px;
    margin: 16px;
}

.profile .userinfo p {
    margin-top: 10px;
}

.profile .userinfo a {
    font-size: 13px;
}

.karma {
    float: right;
}

.karma .numb {
    font-weight: 100;
    font-size: 23px;
    color: #bbb;
}

#info .content.profile .list .sendform .send, #sendall {
    background: #ffcd00;
    text-align: center;
    width: 120px;
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 26px;
    margin-top: 2px;
}

#info .content.profile .list .sendform .send a, #sendall a {
    color: #fff !important;
    text-decoration: none;
}

#info .content.profile .list .sendform .minput {
    float: left;
}

#info .content.profile .list .sendform input, #passchange input {
    outline: 0 none;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    width: 200px;
    font-size: 12px;
    font-weight: 100;
    padding: 5px;
}

#passchange {
    padding-top: 15px;
}

#limits {
    margin-bottom: 8px;
}

#limits {
    height: 100%;
}
